.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Simulator {
  background-color: rgb(91, 91, 221);

}

button {
  width: 70px;
  height: 35px;
  background-color: sandybrown;
  border: none;
  font-size: 15px;
  font-weight: 800;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ManaBar {
  position: absolute;
  top: 779px;
  left: 600px;
  background-image: url("images/ManaCrystal.png");
  background-repeat: repeat-x;
  height: 31px;
  width: 155px;
}

.Player1Class {
  position: absolute;
  top: 650px;
  left: 405px;
  /*background-image: url("images/heroes/Druid.png");*/
  background-repeat: no-repeat;
  background-size: 35%;
  object-fit: cover;
  height: 121px;
  width: 429px;
}

.Player2Class {
  position: absolute;
  top: 330px;
  left: 405px;
  /*background-image: url("images/heroes/Druid.png");*/
  background-repeat: no-repeat;
  background-size: 35%;
  object-fit: cover;
  height: 121px;
  width: 429px;
}