.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Simulator CSS */

.Simulator {
  background-color: rgb(91, 91, 221);

}

button {
  width: 70px;
  height: 35px;
  background-color: sandybrown;
  border: none;
  font-size: 15px;
  font-weight: 800;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.HS-board {
  margin: auto;
}

.ManaBar {
  position: absolute;
  top: 92vh;
  left: 59vw;
  background-image: url("images/ManaCrystal.png");
  background-repeat: repeat-x;
  height: 31px;
  width: 155px;
}

.Player1Class {
  position: absolute;
  top: 82vh;
  left: 44vw;
  /*background-image: url("images/heroes/Druid.png");*/
  background-repeat: no-repeat;
  background-size: 35%;
  object-fit: cover;
  height: 121px;
  width: 429px;
}

.Player2Class {
  position: absolute;
  top: 43vh;
  left: 44vw;
  /*background-image: url("images/heroes/Druid.png");*/
  background-repeat: no-repeat;
  background-size: 35%;
  object-fit: cover;
  height: 121px;
  width: 429px;
}

.Player1Health {
  position: absolute;
  top: 55vh;
  left: 52.5vw;
  font-size: 22px;
  color: white;
  font-family: 'Belwe Bold';
}

.Player2Health {
  position: absolute;
  top: 94vh;
  left: 52.5vw;
  font-size: 22px;
  color: white;
  font-family: 'Belwe Bold';
}

/* End Simulator CSS */

/* Autocomplete CSS */

input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  position:relative;
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

/* End Autocomplete CSS */

.cards {
  margin: auto;
}

.card-image {
  position: absolute;
  top: 15vh;
  left: 46.5vw;
  object-fit: cover;
  width: 100px;
  
}

.wideTd {
  width: 300px;
}

@font-face {
  font-family: 'Belwe Bold';
  src: local('Belwe Bold'),
    url('./fonts/Belwe Bold.otf');
}


.cards-row {
  position: absolute;
}