

@mixin fan($count, $angle) {
  $offset: $angle / 2;
  @for $i from 1 through $count {
    $increment: $angle / ($count + 1);
    div:nth-child(#{$i}) {
      transform:
        translate(-50%, -50%) rotate(-$offset + $increment * $i);
    }
  }
}


.cardshand {
    position: absolute;
    top: 95vw;
    left: 50vw;
    
    @include fan(5, 50deg);

    &:hover {
      @include fan(5, 60deg);
    }

    
  }
  
  .card {
    //background: white;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 134px;
    width: 90px;
    border-radius: 5px;
    position: absolute;
    //box-shadow: 0 0 30px transparentize(black, 0.8);
    left: 50%;
    top: 70%;
    transform-origin: center 300%;
    transition: transform 1s ease-out;
  }