@import 'App.module.scss';


:root {
  --number-of-cards: 5;
}

@property --number-of-cards {
  syntax: "<number>";
  initial-value: 5;
  inherits: true;
}

@mixin fan($count, $angle) {
  $offset: $angle / 2;
  @for $i from 1 through $count {
    $increment: $angle / ($count + 1);
    div:nth-child(#{$i}) {
      transform:
        translate(-50%, -50%) rotate(-$offset + $increment * $i);
    }
  }
}


.cardshand {
  position: absolute;
  top: 104vh;
  left: 50vw;
  
  @include fan($number-of-cards, 50deg);

  &:hover {
    @include fan($number-of-cards, 60deg);
  }
}

//Number of cards CSS

.cards-1 {
  @include fan(1, 50deg);

  &:hover {
    @include fan(1, 60deg);
  }
}

.cards-2 {
  @include fan(2, 50deg);

  &:hover {
    @include fan(2, 60deg);
  }
}

.cards-3 {
  @include fan(3, 50deg);

  &:hover {
    @include fan(3, 60deg);
  }
}

.cards-4 {
  @include fan(4, 50deg);

  &:hover {
    @include fan(4, 60deg);
  }
}

.cards-5 {
  @include fan(5, 50deg);

  &:hover {
    @include fan(5, 60deg);
  }
}

.cards-6 {
  @include fan(6, 50deg);

  &:hover {
    @include fan(6, 60deg);
  }
}

.cards-7 {
  @include fan(7, 50deg);

  &:hover {
    @include fan(7, 60deg);
  }
}

.cards-8 {
  @include fan(8, 50deg);

  &:hover {
    @include fan(8, 60deg);
  }
}

.cards-9 {
  @include fan(9, 50deg);

  &:hover {
    @include fan(9, 60deg);
  }
}

.cards-10 {
  @include fan(10, 50deg);

  &:hover {
    @include fan(10, 60deg);
  }
}


  
.card {
  //background: white;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 134px;
  width: 90px;
  border-radius: 5px;
  position: absolute;
  //box-shadow: 0 0 30px transparentize(black, 0.8);
  left: 50%;
  top: 70%;
  transform-origin: center 300%;
  transition: transform 1s ease-out;
}